<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheet.css')}}">
	<title>CardNotes</title>
</head>

<body>

	<div class="header">
		<img src="{{url_for('static', filename='big_logo.png')}}">
	</div>
	<div class="cardnotes">
		<p id="description">The CardNotes is an elegant, pocket-sized book uniquely designed to keep business cards organized. It contains a slot on each page to store a standard business card, and on the opposite page has a template to take notes on the conversation you had, where and when it took place, and how to follow up. It is designed to be customized with your company logo and colors. It helps encourage good networking practices for students and new graduates, or provides a useful service for more experienced professionals. At our low price, you can distribute them and guarantee that your brand is remembered at every career fair or networking event. </p>
	</div>

	<div class="render">
		<img src="{{url_for('static', filename='render_olin.jpg')}}">
	</div>

	<div class="content">
		<div class="section">
			<p><div class = "sec_heading">About Us</div></p>
			<p>The CardNotes is the final product of an Entrepreneurial Initiative class at Olin College in Needham, Massachusetts. Our idea stemmed from frustrations with losing business cards and with the process of connecting at networking events in general. One major issue that we identified was that many successful people try to take notes on the conversations that they’ve had with potential employers, employees, or partners. However, it is easy to lose track of which card belongs to which notes, to misplace either the card or notes, or to simply not have any place to write things down. Our idea evolved from an improved business card to a notebook that would help correct these issues. A CardNotes can help professionals stay organized and make strong networking connections.</p></div>


		<div class="section">
			<p><div class = "sec_heading">Customization</div></p>
			<p>Work with our team of designers to create a custom book cover for your business or institution. </p>
			<p>CardNotes is now available for pre-order. Please contact us for further information about the product, pricing, and c customization options.</p></div>


		<div class="section">
			<p><div class = "sec_heading">Contact Us</div></p>
			<p>Feel free to contact our team during business hours at (201)-983-8187 or by email at cardnotes@dummyemail.com</p>

		</div>
	</div>

	<!--<div class="orderbutton">Pre-Order Now</div>!-->

</body>
</html>