body {
	font-family:Verdana;
	background-color:#f1f5ff;
}

.header img {
	width:50%;
	height:auto;
}

.header {
	margin-top:1em;
	margin-bottom:4em;
	padding-top:6em;
	position:relative;
	margin-left:auto;
	text-align:center;
	border-color:#0f307c;
	border-top-style: solid;
	border-top-width: 4px;
	text-align:center;

}

.render {
	position:relative;
	margin:auto;
	text-align:center;
}

.render img {
	width:60%;
	height:auto;
	margin-right:15%;
	margin-left:15%;
}

.top_bar {
	position:relative;
}

div {
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
}

p {
	font-size:0.75em;
	font-family:sans-serif;
}

.cardnotes {
	color:#664006;
	margin-top:5em;
	margin-bottom:2em;
	background-color:#bacfff;
	font-size:1.5em;
	font-style:italic;
	text-align:center;

}

#description {
	padding-left:2em;
	padding-right:2em;
	margin:5em;
}

.orderbutton {
	font-size:2em;
	text-align:center;
	margin-left:30%;
	margin-right:30%;
}

.content {
	color:#a18864;
	text-align:center;
	margin-left:15%;
	margin-right:15%;
	position:relative;
	padding-bottom:4em;

}

/*.section {
	margin-top:1em;
	width:30%;
	height:40em;
	background-color:#99ccff;
	border-radius:5px;
	display:inline-block;
	padding-right:5px;
	padding-left:5px;
}*/

.sec_heading {
	background-color: #0f307c;
	color:#f1f5ff;
}

.section {
	margin-top:1em;
	padding-right:5px;
	padding-left:5px;
	margin-bottom:1em;
}